body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
#chrome {
    position: relative;
    margin: auto auto;
    max-width: 1200px;
    width: 100%;
}
svg#hexmap {
    background: url(hexa.png);
    background-size: contain;
}
#hexmap * {
    user-select: none
}
path.ks_hexblock {
    opacity: 0;
    fill: white;
    box-shadow: 0px 0px 30px black;
}
path.ks_hexblock:hover {
    opacity: 0.3;
    fill: white;
    cursor: pointer;
}
path.ks_hexblock.missing {
    fill: black;
    opacity: 0.5;
}
path.ks_hexblock.missing:hover {
    fill: black;
    opacity: 0;
}
text.ks_hexblock_indicator_shadow {
    fill: black;
    pointer-events: none;
    font-size: 30px;
}
text.ks_hexblock_indicator {
    fill: white;
    pointer-events: none;
    font-size: 30px;
}
text.ks_hexblock_indicator.missing {
    fill: white;
}